<launch>
    <arg name="robot_name"         default="/"/> <!-- Change this for namespacing. -->
    <arg name="rviz"               default="false"/> <!-- Set to true to run rviz in parallel. -->
    <arg name="lite"               default="false" />  <!-- Set to true if you're using CHAMP lite version. Only useful for microcontrollers. -->
    <arg name="ros_control_file"   default="$(find spot_config)/config/ros_control/ros_control.yaml" /> <!-- Path to ROS Control configurations. Do not touch. -->
    <param name="use_sim_time" value="true" />

    <arg name="x_pose" default="-0.5" />
    <arg name="y_pose" default="8.361299" /> 
    <arg name="theta" default="0" /> 

    <include file="$(find spot_config)/launch/bringup.launch">
        <arg name="robot_name"             value="$(arg robot_name)"/>
        <arg name="gazebo"                 value="true"/>
        <arg name="lite"                   value="$(arg lite)"/>
        <arg name="rviz"                   value="$(arg rviz)"/>
        <arg name="gait_config_file"       value="$(find rs_config)/config/gait/gait.yaml"/>
        <arg name="joint_controller_topic" value="joint_group_position_controller/command"/>
        <arg name="hardware_connected"     value="false"/>
        <arg name="publish_foot_contacts"  value="false"/>
        <arg name="close_loop_odom"        value="true"/>
    </include>

    <include file="$(find champ_gazebo)/launch/spawn_robot.launch">
        <arg name="robot_name"         value="$(arg robot_name)"/>
        <arg name="lite"               value="$(arg lite)"/>
        <arg name="ros_control_file"   value="$(arg ros_control_file)"/>
        <arg name="world_init_x"       value="$(arg x_pose)" />
        <arg name="world_init_y"       value="$(arg y_pose)" />
        <arg name="world_init_z"       value="0.72" />
        <arg name="world_init_heading" value="$(arg theta)" />
    </include>

    <include file="$(find rs_navigation)/launch/navigate.launch">
        <arg name="robot_name"         value="$(arg robot_name)"/>
        <arg name="initial_pose_x"     value="$(arg x_pose)" />
        <arg name="initial_pose_y"     value="$(arg y_pose)" />
        <arg name="initial_pose_a"     value="$(arg theta)" />

    </include>
</launch>