<?xml version='1.0'?>

<model>
    <name>office_chair_near_white_table</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Anastasiia Lazorenko</name>
        <email>lazorenko@ucu.edu.ua</email>
    </author>

    <description>
        Office chair near white table.
    </description>
</model>