<launch>
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <!-- <arg name="world_name" default="$(find rs_gazebo)/worlds/ss_hq4.world" /> -->
  <arg name="world_name" default="empty.world" />


  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="paused" value="false"/>
  </include>

  <!-- Spawn Ridgeback -->

<include file="$(find rs_description)/launch/description.launch" />

    <arg name="x" default="-1.7"/>
    <arg name="y" default="8.6"/>
    <arg name="z" default="0.72"/>


  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model spot_mini -param robot_description -x $(arg x) -y $(arg y) -z $(arg z)"/> 

<include file="$(find rs_control)/launch/spot_controller.launch" />

</launch>
