<?xml version="1.0" ?>
<model>
    <name>conditioner_off</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Softserve Robotics Group</name>
        <email>robotics@softserveinc.com</email>
    </author>
    <description>CharucoBoard for camera calibration</description>
</model>
