<?xml version='1.0'?>

<model>
    <name>light</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>UNKNOWN</name>
        <email>unknown@unknown.com</email>
    </author>

    <description>
        Light-bulbs and details for the light_structure.
    </description>
</model>